<template>
  <div>
    <h1>Editing Employee: {{ post.name }}</h1>
    <form @submit.prevent="updatePost">
      <div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
        <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h5 class="mb-0">   
                Primary Informations
            </h5>
        </a>
        </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">

        <div class="form-row">
        <div class="col-md-4 mb-3">
          <div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control" v-model="post.name" required>
            <small class="text-muted">Required</small>
          </div>
        </div>
          <div class="col-md-2 mb-3">
            <div class="form-group">
              <label>Title:</label>
              <input type="text" class="form-control" placeholder="e.g.: Dr." v-model="post.title">
            </div>
          </div>
        <div class="col-md-2 mb-3">
          <div class="form-group">
            <label>Sex:</label>
                <select class="form-control" v-model="post.sex">
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                </select>
                <small class="text-muted">Please select one.</small>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="form-group">
            <label>Birthday</label>
                <input class="form-control" type="date" v-model="post.birthday">
          </div>
        </div>
        </div>

        <div class="form-row">
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label>Position:</label>
            <input type="text" class="form-control" placeholder="e.g.: Developer" v-model="post.position">
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label>Department:</label>
            <input type="text" class="form-control" placeholder="e.g.: Marketing" v-model="post.department">
          </div>
        </div>
        </div>

        <div class="form-row">
        <div class="col-md-3 mb-3">
          <div class="form-group">
            <label>Office:</label>
            <input type="text" class="form-control" placeholder="e.g.: Szeged" v-model="post.office">
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <div class="form-group">
            <label>Workhours:</label>
            <input type="text" class="form-control" placeholder="0-40" v-model="post.workhours">
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label>E-mail:</label>
            <input type="text" class="form-control" placeholder="email@example.com" v-model="post.email">
          </div>
        </div>
        </div>

        <div class="form-row">
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label>Address:</label>
            <input type="text" class="form-control" v-model="post.address">
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label>Mail Address:</label>
            <input type="text" class="form-control" v-model="post.mailaddress">
            <small class="text-muted">Physical address not e-mail.</small>
          </div>
        </div>
        </div>

        <div class="form-row">
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label>Phone Number:</label>
            <input type="text" class="form-control" placeholder="e.g.: 06 29 123 456" v-model="post.phone">
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label>Office Phone:</label>
            <input type="text" class="form-control" placeholder="e.g.: 06 29 123 456" v-model="post.officephone">
          </div>
        </div>
        </div>

        <div class="form-row">
        <div class="col-md-4 mb-3">
          <div class="form-group">
            <label>Tax Number:</label>
            <input type="text" class="form-control" v-model="post.taxnumber">
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="form-group">
            <label>Taj Number:</label>
            <input type="text" class="form-control" v-model="post.tajnumber">
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="form-group">
            <label>Nationality:</label>
            <input type="text" class="form-control" placeholder="e.g.: Hungarian" v-model="post.nationality">
          </div>
        </div>
        </div>

        <div class="form-row">
        <div class="col-md-5">
          <div class="form-group">
            <label>Education:</label>
            <input type="text" class="form-control" placeholder="e.g.: Univerity" v-model="post.education">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Language:</label>
            <input type="text" class="form-control" placeholder="e.g.: Hungarian" v-model="post.language">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Boss:</label>
            <input type="text" class="form-control" placeholder="Name..." v-model="post.boss">
          </div>
        </div>
        </div>

        <div class="form-row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Responsibilites:</label>
            <input type="text" class="form-control" placeholder="e.g.: ERP System" v-model="post.job">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Status:</label>
            <select class="form-control" v-model="post.status">
                <option value="1">Active</option>
                <option value="0">Inactive</option>
            </select>
            <small class="text-muted">Please select one.</small>
          </div>
        </div>
        </div>
        
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <h5 class="mb-0">
                Emergency Contacts
            </h5>
        </a>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">

        <div class="form-row">
        <div class="col-md-6">
          <div class="form-group">
            <h5>Primary</h5>
            <label>Name:</label>
            <input type="text" class="form-control" placeholder="Please type in the name.." v-model="post.pname">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <h5>Secondary</h5>
            <label>Name:</label>
            <input type="text" class="form-control" placeholder="Please type in the name.." v-model="post.sname">
          </div>
        </div>
        </div>

        <div class="form-row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Relationship:</label>
            <input type="text" class="form-control" placeholder="Please type in the relationship associated with the given name.." v-model="post.prelationship">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Relationship:</label>
            <input type="text" class="form-control" placeholder="Please type in the relationship associated with the given name.." v-model="post.srelationship">
          </div>
        </div>
        </div>

        <div class="form-row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Phone:</label>
            <input type="text" class="form-control" placeholder="Please type in his/her phone number.." v-model="post.pphone">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Phone:</label>
            <input type="text" class="form-control" placeholder="Please type in his/her phone number.." v-model="post.sphone">
          </div>
        </div>
        </div>

      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <h5 class="mb-0">
                Bank Informations
            </h5>
        </a>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">

          <div class="form-row">
        <div class="col-md-5">
          <div class="form-group">
            <label>Bank Name:</label>
            <input type="text" class="form-control" placeholder="Please type in the bank name.." v-model="post.bankname">
          </div>
        </div>
        <div class="col-md-7">
          <div class="form-group">
            <label>Bank Account No.:</label>
            <input type="text" class="form-control" placeholder="Bank account No." v-model="post.bankaccountno">
          </div>
        </div>
        </div>
        
      </div>
    </div>
  </div>
        </div><br />
        <div class="form-group">
          <button class="btn btn-primary">Update</button>
        </div>
    </form>
  </div>
</template>

<script>
    export default {

      data() {
        return {
          post: {}
        }
      },
      created() {
        let uri = `/api/post/edit/${this.$route.params.id}`;
        this.axios.get(uri).then((response) => {
            this.post = response.data;
        });
      },
      methods: {
        updatePost() {
          let uri = `/api/post/update/${this.$route.params.id}`;
          this.axios.post(uri, this.post).then((response) => {
            this.$router.push({name: 'posts'});
          });
        }
      }
    }
</script>