<template>
  <div>
      <h1>Employees</h1>
        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2">
            <router-link :to="{ name: 'create' }" class="btn btn-primary">Create Entry</router-link>
          </div>
        </div><br />

        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Title</th>
                <th>Position</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="post in posts" :key="post.id">
                    <td>{{ post.id }}</td>
                    <td>{{ post.name }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.position }}</td>
                    <td>
                        <router-link :to="{name: 'edit', params: { id: post.id }}" class="btn btn-primary mr-2">Edit</router-link>
                        <button class="btn btn-danger" @click.prevent="deletePost(post.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
  </div>
</template>

<script>
  export default {
      data() {
        return {
          posts: []
        }
      },
      created() {
      let uri = '/api/posts';
      this.axios.get(uri).then(response => {
        this.posts = response.data.data; //response.data.data because of axios
      });
    },
    methods: {
        deletePost(id)
        {
            let uri = `/api/post/delete/${id}`;
            this.axios.delete(uri).then(response => {
                this.posts.splice(this.posts.indexOf(id), 1);
            });
        }
    }
  }
</script>